/* Common */
body {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 12px;
}

header {
    margin-top: 30px;
    margin-bottom: 20px;
}

footer {
    border-top: 1px solid #ececec;
    padding-top: 22px;
    margin-top: 47px;
}

a {
    color: #2b2b2b;
    text-decoration: none;
}

h1 {
    font-family: "Chunkfive", sans-serif;
    font-size: 30px;
    text-align: center;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

textarea:focus, input:focus {
    outline: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    display: table;
    content: "";
    clear: both;
}

.logo {
    background-image: url('../img/logo.png');
    width: 165px;
    height: 30px;
    display: block;
}

/* Main navigation */
.main-nav {
    border-top: #ececec 1px solid;
}

nav.main-nav a {
    display: block;
    float: left;
    font-family: "HelveticaNeue Medium", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 21px;
}

    nav.main-nav a::after {
        content: "";
        border-right: 1px solid #ececec;
        position: relative;
        left: 21px;
    }

    nav.main-nav a:hover {
        border-top: 1px solid #f03c3c;
        color: #f03c3c;
        margin-top: -1px;
    }

/* Footer */
.info-email {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 12px;
    color: rgb( 79, 83, 86 );
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 8px;
}

.info-copyright {
    font-size: 11px;
    font-family: "HelveticaNeue", sans-serif;
    color: rgb( 79, 83, 86 );
    margin-top: 0px;
}

footer p {
    text-align: right;
    color: #4f5356;
}

/* Home */
.btn-search:after {
    content: url('../img/search-icon.png');
    width: 14px;
    height: 13px;
}

.btn-search {
    background-color: transparent;
    border: none;
    padding-right: 11px;
}

.slider {
    margin-bottom: 50px;
    position: relative;
}

.row-slider .hover-img {
    float: left;
    margin-left: 5px;
    margin-bottom: 1px;
}

    .row-slider .hover-img:first-child {
        margin-left: 0px;
    }

.row-slider, .row-slider .img-slider-post {
    margin-bottom: 5px;
}

.arrow-left {
    position: absolute;
    left: -14px;
    bottom: 245px;
}

.arrow-right {
    position: absolute;
    right: -14px;
    bottom: 245px;
}

.slider-info {
    position: absolute;
    bottom: 142px;
    left: 312px;
    width: 294px;
    height: 195px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    background-color: #010101;
    color: #fff;
    opacity: 0.8;
}

.slider-info, .lnk-slider-more, .slider-text {
    opacity: 0.8;
}

    .slider-info h2 {
        font-family: 'Chunkfive', sans-serif;
        font-size: 24px;
        font-weight: normal;
        line-height: 22px;
        margin-top: 30px;
        margin-bottom: 25px;
    }

.slider-text {
    font-size: 12px;
    line-height: 15px;
}

.lnk-slider-more {
    font-family: 'HelveticaNeue Medium', sans-serif;
    border: none;
    background-color: transparent;
    color: #fff;
}

.hover-img {
    position: relative;
    cursor: pointer;
}

    .hover-img:hover:after {
        display: block;
    }

    .hover-img:after {
        display: none;
        position: absolute;
    }

    .hover-img:after {
        content: '';
        background: rgba(0, 0, 0, 0.75) url("../img/icon-plus.png") no-repeat center;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

.post-image:hover .post-meta-data {
    display: block;
}

.post-meta-data {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}

    .post-meta-data p {
        position: absolute;
        bottom: 5px;
        color: #fff;
    }

        .post-meta-data p.view {
            left: 25px;
        }

    .post-meta-data .view:before {
        content: url("../img/icon-eye.png");
    }

    .post-meta-data p.date {
        left: 50%;
        transform: translate(-50%, 0px);
    }

    .post-meta-data .date:before {
        content: url("../img/icon-clock.png");
    }

    .post-meta-data p.like {
        right: 25px;
    }

    .post-meta-data .like:before {
        content: url("../img/icon-heart.png");
    }

    .post-meta-data .view, .post-meta-data .date, .post-meta-data .like {
        text-align: center;
    }

        .post-meta-data .view:before, .post-meta-data .date:before, .post-meta-data .like:before {
            display: block;
            text-align: center;
        }

.form-contact {
    color: #A9A9A9;
}

    .form-contact input[type='text'] {
        width: 191px;
        margin-bottom: 10px;
    }

.form-control {
    font-family: 'HelveticaNeue Medium', sans-serif;
    display: block;
    padding: 11px;
    border: 1px solid #ececec;
}

.form-contact .text-message {
    width: 490px;
    height: 200px;
    resize: none;
    margin-bottom: 13px;
}

.btn-submit, .link {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: #474747;
}

    .btn-submit:before, .link:before, .lnk-slider-more:before {
        content: ">>";
        font-family: 'HelveticaNeue', sans-serif;
        margin-right: 8px;
    }

    .link, .link:before {
        font-size: 12px;
    }

    .btn-submit, .btn-submit:before {
        font-size: 14px;
    }

/* Pager */
.pager {
    margin-top: 50px;
}

    .pager a {
        font-weight: bold;
        font-size: 12px;
        width: 26px;
        height: 26px;
        line-height: 22px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #ececec;
        background-image: -moz-linear-gradient(0deg, rgba(215, 215, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
        background-image: -webkit-linear-gradient(0deg, rgba(215, 215, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
        background-image: linear-gradient(0deg, rgba(215, 215, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
        -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 1px 0 rgba(255, 255, 255, 1) inset;
        -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 1px 0 rgba(255, 255, 255, 1) inset;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 1px 0 rgba(255, 255, 255, 1) inset;
        padding: 8px 11px;
    }

        .pager a:hover {
            background-image: -linear-gradient(90deg, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background-image: -moz-linear-gradient(90deg, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 1) 100%);
            background-image: -webkit-linear-gradient(90deg, rgba(230, 230, 230, 1) 0%, rgba(255, 255, 255, 1) 100%);
            -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 0px 0px rgba(255, 255, 255, 1) inset;
            -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 0px 0px rgba(255, 255, 255, 1) inset;
            box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2), 1px 1px 0px 0px rgba(255, 255, 255, 1) inset;
        }

        .pager a.active {
            background-image: -linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
            background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
            background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
            -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1), 1px 1px 3px 0px rgba(0, 0, 0, 0.4) inset;
            -moz-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1), 1px 1px 3px 0px rgba(0, 0, 0, 0.4) inset;
            box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1), 1px 1px 3px 0px rgba(0, 0, 0, 0.4) inset;
        }

/* Contact */
.intro-contact-page {
    font-family: 'HelveticaNeue Medium', sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 30px;
    color: #464646;
}

#map-canvas {
    margin-bottom: 35px;
}

.txt-search {
    border: none;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 11px;
    width: 152px;
}

.form-search {
    border: 1px solid #ececec;
}

.top-section {
    margin-bottom: 31px;
}

/* Filter items */
.filter-items {
    font-family: "HelveticaNeue Medium", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 0;
}

    .filter-items li {
        list-style: none;
        float: left;
        cursor: pointer;
    }

        .filter-items li + li:before {
            content: "/";
            padding: 0 8px;
        }

        .filter-items li.active a, .filter-items li a:hover {
            color: #f03c3c;
        }

.col {
    float: left;
    margin-right: 20px;
}

    .col:last-child {
        margin-right: 0px;
    }

    .col article, .post-item {
        width: 220px;
        height: auto;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

/* Grid items */
section h2 {
    font-size: 18px;
    line-height: 18px;
    margin: 3px 0;
}

.post-info {
    font-family: "HelveticaNeue Medium", sans-serif;
    font-size: 11px;
    line-height: 18px;
    color: #8a8a8a;
}

.post-description {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 12px;
    line-height: 17px;
    margin: 15px 0px;
}

.post-content {
    text-align: left;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-top: -4px;
    padding: 14px 12px 20px 12px;
}

.img-posts {
    width: 220px;
    height: auto;
    display: block;
}

.item-images {
    width: 540px;
    margin-right: 40px;
}

/* Blog item */
.item-info {
    width: 360px;
}

.item-images img {
    margin-bottom: 30px;
}

.item-col {
    float: left;
    width: 31.66%;
    margin-left: 1%;
}

    .item-col:first-child {
        margin-left: 0;
    }

    .item-col p:first-child {
        margin-bottom: 5px;
    }

    .item-col p:last-child {
        color: #f03c3c;
    }

.item-info .link {
    font-size: 14px;
}

.item-info p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 0px;
}

.item-row {
    margin-bottom: 26px;
}

.item-descripion {
    margin-bottom: 25px;
}

.item-descripion-2 {
    margin-bottom: 22px;
}

.post-item {
    float: left;
    margin-right: 10px;
}

    .post-item:last-child {
        margin-right: 0px;
    }

    .post-item h2 {
        font-family: "HelveticaNeue", sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        margin-top: 0px;
        margin-bottom: 6px;
    }

    .post-item .post-content {
        padding: 15px 10px;
    }

.post-proposal-area {
    margin-top: 46px;
}

/* About page */
.about h1 {
    margin-bottom: 42px;
}

.about p, .about blockquote {
    font-size: 12px;
    line-height: 16px;
    color: #414141;
    margin-top: 29px;
}

    .about p.intro {
        font-family: 'HelveticaNeue Medium', sans-serif;
        font-size: 12px;
        line-height: 16px;
    }

.img-left {
    float: left;
    margin: 18px 40px 18px 0;
}

.first-letter:first-letter {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 18px;
    float: left;
    color: #f03c3c;
    padding: 5px 8px 0 3px;
}

.about blockquote {
    margin-left: 0;
}

    .about blockquote:before {
        color: #f03c3c;
        content: open-quote;
        font-size: 72px;
        line-height: 80%;
        padding-right: 5px;
        float: left;
    }

.item-row [class^="col-"] {
    float: left;
}

/*Grid 2 cells*/
.row-cells-2 .col-1 {
    margin: 0 2%;
    width: 48%;
}

/*Grid 3 cells*/
.row-cells-3 .col-1 {
    margin: 0 1%;
    width: 32%;
}

.item-row [class^="col-"]:first-child {
    margin-left: 0 !important;
}

.item-row [class^="col-"]:last-child {
    margin-right: 0 !important;
}

.btn {
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 20px 10px;
    font: bold 13px "HelveticaNeue";
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.20);
    line-height: 20px;
    color: #ffffff;
    background-color: initial;
    background-image: linear-gradient( 90deg, rgba( 0, 0, 0, 0.15 ) 0%, rgba( 255, 255, 255, 0.15) 100%);
    background-image: -moz-linear-gradient( 90deg, rgba( 0, 0, 0, 0.15 ) 0%, rgba( 255, 255, 255, 0.15) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba( 0, 0, 0, 0.15 ) 0%, rgba( 255, 255, 255, 0.15) 100%);
}

.btn-green {
    background-color: #8caf2f;
}

.btn-silver {
    background-color: #d1d1d1;
}

.btn-blue {
    background-color: #6aa2f7;
}

.btn-orange {
    background-color: #f67441;
}

.btn-purple {
    background-color: #f16bef;
}

.btn-red {
    background-color: #f95151;
}

.btn-light-blue {
    background-color: #61e0e8;
}

.alert {
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    width: 100%;
    border: 1px solid transparent;
    margin: 15px 0px;
    padding: 22px 0px;
}

.alert-green {
    color: #98c601;
    background-color: #fffeB9;
    border-color: #98c601;
}

.alert-red {
    color: #eb5439;
    background-color: #fbcbc1;
    border-color: #eb5439;
}

.alert-orange {
    color: #fab418;
    background-color: #ffe9ad;
    border-color: #fab418;
}

.alert-blue {
    color: #4d8fcb;
    background-color: #d1e4f3;
    border-color: #4d8fcb;
}
