@import 'variables';
@import 'reset';

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}
.hidden {
	display: none;
}
.menu-bar {
	text-align: right;
	width: 100%;
	border-bottom: @blueBorder;
	border-radius: 10px;
	background-color: #fff;
}
a.menu-bar-button, #create-window-button {
	display:inline-block;
}
.menu-bar .menu-bar-title, .window-body {
	float: left;
	font-size: 17px;
	padding: 10px;
}
.menu-bar .menu-bar-buttons {
	float: right;
}
.window-wrapper {
	background-color: @windowColor;
    border: 1px solid rgb(33,150,243);
	width: 80%;
	height: 80%;
	top: 0;
	left: 0;
	margin: 5px auto;
	border-radius: 10px;
}
.window-resize {
	width: 40%;
	height: 40%;
}
#ui-placeholder {
	position: fixed;
    height: 100%;
    width: 100%;
}
#windows-placeholder {
	width: 100%;
	height: ~'calc(100% - @{startLineHeight} - @{startLineBottom})';
	position: relative;
}
.start-line {
	width: 100%;
	height: @startLineHeight;
	position: absolute;
	bottom: @startLineBottom;
	left: 0;
}