<ul class="filter-items clearfix">
    <li class="active"><a href="#">all</a></li>
    <li><a href="#">news</a></li>
    <li><a href="#">design</a></li>
    <li><a href="#">print</a></li>
    <li><a href="#">art</a></li>
    <li><a href="#">development</a></li>
</ul>
<div class="posts clearfix">
    <div class="col">
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-1.png" alt="Post 1" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php ">Sticker Mule</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012 / news, contests</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-2.png" alt="Post 2" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">Big Buck Bunny</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-3.png" alt="Post 3" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">Pinterest Icons</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                    <span>news, contests</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
    </div>
    <div class="col">
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-4.png" alt="Post 4" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">10 Amazing Websites</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-5.png" alt="Post 5" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">Character Design</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-6.png" alt="Post 6" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">iPad 3 Review</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
    </div>
    <div class="col">
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-7.png" alt="Post 7" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">Top iPhone Apps</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-8.png" alt="Post 8" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">Service Icons</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-9.png" alt="Post 9" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">Social Media Buttons</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
    </div>
    <div class="col">
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-10.png" alt="Post 10" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">Photo Shoot</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-11.png" alt="Post 11" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">Wedding Card</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
        <article>
            <div class="post-image hover-img">
                <img src="img/img-post-12.png" alt="Post 12" class="img-posts" />
                <div class="post-meta-data">
                    <p class="view">857</p>
                    <p class="date">07/05/12</p>
                    <p class="like">588</p>
                </div>
            </div>
            <div class="post-content">
                <h2><a href="blog_item.php">Silver UI Kit</a></h2>
                <div class="post-info">
                    <span class="post-date">June 15, 2012</span>
                </div>
                <p class="post-description">Lorem ipsum dolor sit amet, te possim inimicus ius. Alii ullam at corper pri ad, per nulla luptatum te, in qui delenit nostrum. Nam ad labores.</p>
                <div>
                    <a class="link" href="blog_item.php">More</a>
                </div>
            </div>
        </article>
    </div>
</div>