.wrapper {
    margin: 30px 0;
}

h1 {
    text-align: center;
}

#tblScoreBoard {
    width: 600px;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

    #tblScoreBoard td, #tblScoreBoard th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-bottom: 1px solid #ddd;
    }

        #tblScoreBoard td:last-child {
            text-align: right;
        }

    #tblScoreBoard th {
        text-align: left;
    }

input[type='number'] {
    width: 60px;
}

.btn {
    margin: 2px 5px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
}

input[type='number'], input[type='text'] {
    padding: 5px;
    border: 1px solid #ddd;
}

.btn.btnDeleteParticipant {
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    color: #fff;
}

    .btn.btnDeleteParticipant:hover {
        background-color: #fff;
        color: #d43f3a;
    }

.btn.btnAddPoints {
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
    color: #fff;
}

    .btn.btnAddPoints:hover {
        background-color: #fff;
        color: #5cb85c;
    }

.btn.btnAdd {
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
    color: #fff;
}

    .btn.btnAdd:hover {
        background-color: #fff;
        color: #5cb85c;
    }
